%h2 Ad Media List
- if @connected
  %p zanox Connect successful
- else
  %p zanox Connect not successful

- if @deeplinks.size > 0
  %p
    =@deeplinks.size
  %p
    @deeplinks.total
  %ul
    - @deeplinks.each do |deeplink|
      %li
        =deeplink.trackingLinks.trackingLink.ppc
- else
  %p
    blabla
    
=@deeplinks[0].inspect

