%h2 Ad Media List
- if @connected
  %p zanox Connect successful
- else
  %p zanox Connect not successful
- end

- if @admedia.size > 1
  %ul
  - @admedia.each do |admedium|
    %li = (admedium.name.size>40)?admedium.name.[0..40] : admedium.name
