%h2 Ad Media List

- if @deeplinks.size > 0
  %p
    =@deeplinks.size
  %ul
    - @deeplinks.each do |deeplink|
      %li
        =deeplink.trackingLinks.trackingLink.ppc
- else
  %p
    No admedia found

- if @partnerCodes.size > 0
  %p
    =@partnerCodes.size
  %ul
    - @partnerCodes.each do |partnerCode|
      %li
        =partnerCode
