%p
- if not @connected
  %p
    You're not connected to zanox
  %p
    %a{:href => $zanox_connect_link, :title=> 'blabla'} Connect with zanox
- else
  %p
    %a{:href => '/apps'}
      Show Admedia
  %p
    %a{:href => '/adspaces'}
      Show Adspaces
