%h2
  Sample product data link
%p
  - if not @ui_url.nil?
    %a{:href => @ui_url.url, :target => '_blank'} Go to zanox user interface
  - else
    %a{:href => 'http://ui.zanox-affiliate.de', :target => '_blank'} Go to zanox user interface

%p
  Paste your PD-link here
%form{:method=>'post', :action=>'/input'}
  %p
    %input{:type=>'text', :name=>'url', :value=>@url}
  %p
    %input{:type=>'submit', :value=>'Submit'}
  - if @stored
    %p
      Stored!

