!!!
%html
  %head
    %title zapoddilg
    %link{:href=>'/stylesheets/base.css', :rel => 'stylesheet', :type => 'text/stylesheet'}
  %body
    %h1
      zapoddilg - zanox product data download link generator
    %div
      %a{:href=>'/'}  Home
      %a{:href=>'/apps'}  Admedia
      %a{:href=>'/input'}  Put PD link

    .content
      = yield
