!!!
%html
  %head
    %title zapoddilg
    %link{:href=>'/stylesheets/base.css', :rel => 'stylesheet', :type => 'text/stylesheet'}
  %body
    %h1
      zapoddilg - zanox product data download link generator
    %div
      %a{:href=>'/'}  Home
      - if @connected 
        %a{:href=>'/input'}  Put PD link
        %a{:href=>'/adspaces'}  Adspaces
        %a{:href=>'/apps'}  Get All links
        %a{:href=>'/logout'}  Log Out

    -if @connected
      %div
        %p
          Hello 
          =@firstName
        %p
          you are connected as 
          =@userName
    .content
      = yield
